.buttonDiv {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 35px;
    margin-bottom: 5px;
    width: 100%;
}
.buttonGroup {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 5px;
    border-width: 1px;
    border-style: solid;
    border-radius: 5px;
}
.buttonGroupLegend {
    margin-bottom: 5px;
}
.buttonGroupButtons {
    display: flex;
    gap: 5px;
}

.navbarButton {
    padding: 11px 14px !important;
}
.navbarButton.secondary {
    background-color: #36454F !important;
}
.navbarButtonDiv {
    display: flex;
    float: left;
    gap: 15px;
    margin-left: 20px;
}
.navbarButtonGroup {
    display: flex;
    align-items: center;
    gap: 10px;
}
